NET clk LOC="E3" | IOSTANDARD="LVCMOS33";
NET reset LOC="N17" | IOSTANDARD="LVCMOS33";
NET sw<0> LOC="J15" | IOSTANDARD="LVCMOS33";
NET sw<1> LOC="L16" | IOSTANDARD="LVCMOS33";
NET leds<0> LOC="H17" | IOSTANDARD="LVCMOS33";
NET leds<1> LOC="K15" | IOSTANDARD="LVCMOS33";
NET leds<2> LOC="J13" | IOSTANDARD="LVCMOS33";
NET leds<3> LOC="N14" | IOSTANDARD="LVCMOS33";
NET leds<4> LOC="R18" | IOSTANDARD="LVCMOS33";
NET leds<5> LOC="V17" | IOSTANDARD="LVCMOS33";
NET leds<6> LOC="U17" | IOSTANDARD="LVCMOS33";
NET leds<7> LOC="U16" | IOSTANDARD="LVCMOS33";
NET leds<8> LOC="V16" | IOSTANDARD="LVCMOS33";
NET leds<9> LOC="T15" | IOSTANDARD="LVCMOS33";
NET leds<10> LOC="U14" | IOSTANDARD="LVCMOS33";
NET leds<11> LOC="T16" | IOSTANDARD="LVCMOS33";
NET leds<12> LOC="V15" | IOSTANDARD="LVCMOS33";
NET leds<13> LOC="V14" | IOSTANDARD="LVCMOS33";
NET leds<14> LOC="V12" | IOSTANDARD="LVCMOS33";
NET leds<15> LOC="V11" | IOSTANDARD="LVCMOS33";
NET sda LOC="C15" | IOSTANDARD="LVCMOS33";
NET scl LOC="C14" | IOSTANDARD="LVCMOS33";